<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Resultado da Mega Sena</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="img"></div>
        <h1>Gerador de Resultado da Mega Sena</h1>
        <form action="/gerar_resultado" method="post">
            <input type="submit" value="Gerar Novo Resultado">
        </form>
    </div>
</body>

</html>
