<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Resultado da Mega Sena</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="img"></div>
        <h1>Novo Resultado da Mega Sena Gerado:</h1>
        <div class="Resultado">
            <p>{{ novo_resultado[0] }}</p>
            <p>{{ novo_resultado[1] }}</p>
            <p>{{ novo_resultado[2] }}</p>
            <p>{{ novo_resultado[3] }}</p>
            <p>{{ novo_resultado[4] }}</p>
            <p>{{ novo_resultado[5] }}</p>
        </div>
        <a href="/"> ← Voltar</a>
    </div>
</body>
</html>
